@use '@/styles/abstract/' as *;

@mixin login-page-layout() {
  .container {
    display: flex;

    .image {
      flex: 1;
      min-height: 100vh;
      position: relative;

      img {
        object-fit: cover;
      }
    }

    .main {
      flex-basis: 550px;
      min-height: 100vh;

      section {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
        padding-top: 25%;

        > * {
          width: 400px;
        }
      }
    }
  }
}

@mixin login-h1-tag() {
  font-size: $font-size-24;
  font-weight: 700;
  margin-bottom: 40px;
}

@mixin login-form-tag() {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
