@use '@/styles/abstract/' as *;

.container {
  display: flex;
  justify-content: center;

  > main {
    min-height: calc(100vh - $header-height - $footer-height);
  }

  > main.wide {
    width: $main-width-lg;
  }

  > main.basic {
    width: $main-width-md;
  }

  > main.small {
    width: $main-width-sm;
  }
}
