@use '@/styles/abstract/' as *;
@use '@/styles/layout/' as *;

@include login-page-layout();

.find_id {
  h1 {
    @include login-h1-tag();
  }

  form {
    @include login-form-tag();
  }
}

.success {
  h1 {
    @include login-h1-tag();
  }

  .response {
    @include login-form-tag();

    .id {
      display: flex;
      gap: 12px;
      font-weight: 500;
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 14px;
      border: $input-border;
      border-radius: $input-border-radius;

      div {
        display: flex;
        justify-content: space-between;
      }
    }

    .buttons {
      display: flex;
      gap: 16px;
    }
  }
}

.find_pw {
  h1 {
    @include login-h1-tag();
  }

  form {
    @include login-form-tag();
  }
}
