@use '@/styles/abstract/' as *;
@use '@/styles/layout/' as *;

@include login-layout();

.find_id,
.success,
.find_pw {
  justify-content: flex-start;
  padding-top: 20%;
}

.find_id {
  h1 {
    @include find-login-data-h1;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
}

.success {
  gap: 2.4rem;

  h1 {
    @include find-login-data-h1;
  }

  .id {
    display: flex;
    gap: 1.2rem;
    font-weight: 500;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 14px;
    border: 1px solid $black-b;
    border-radius: 6px;

    div {
      font-weight: 500;
      display: flex;
      justify-content: space-between;
    }
  }

  .buttons {
    display: flex;
    gap: 16px;
  }
}

.find_pw {
  h1 {
    @include find-login-data-h1;
  }
}
