// layout
$header-width: 1320px;
$header-height: 64px;
$main-width-lg: 1320px;
$main-width-md: 1080px;
$main-width-sm: 840px;
$footer-width: 1320px;
$footer-height: 200px;
$input-container-gap: 8px;

// theme color
$groo-green: #007664;
$groo-beige: #f2ece3;
$groo-white: #eeeeee;

// font color
$font-black-1: #111111; // 기본 폰트 색상
$font-black-4: #444444;
$font-black-7: #777777; // input태그 placeholder 색상
$font-white: #eeeeee;
$font-red-1: #ee0000;
$font-blue-1: #0000ee;
$font-green: #007664;

// star color
$star-bgcolor: #e0e0e0;
$star-fill-color: #fbbf24;

// font size
$font-size-28: 2.8rem;
$font-size-24: 2.4rem;
$font-size-20: 2rem;
$font-size-18: 1.8rem;
$font-size-16: 1.6rem;
$font-size-15: 1.5rem;
$font-size-14: 1.4rem;
$font-size-13: 1.3rem;
$font-size-12: 1.2rem;

// background color
$bg-green: #007664;
$input-bg: #fafafa;
$bg-gray: #777777;

// border style
$devider-border: 1px solid rgba(#000000, 0.2);
// input border style
$input-outline: none;
$input-border: 1px solid #dddddd;
$input-focus-border: 2px solid #555555;
$input-error-border: 2px solid #ee0000;
$input-selected-border: 2px solid #007664;
$input-border-radius: 8px;
$input-transition: border-color 0.15s ease-in-out;
// button border style
$large-button-radius: 8px;
$small-button-radius: 6px;

// black and gray
$black-1: #111111;
$black-2: #222222;
$black-3: #333333;
$black-4: #444444;
$black-5: #555555;
$black-6: #666666;
$black-7: #777777;
$black-8: #888888;
$black-9: #999999;
$black-a: #aaaaaa;
$black-b: #bbbbbb;
$black-c: #cccccc;
$black-d: #dddddd;
$black-e: #eeeeee;

$red-1: #ee0000;
$blue-1: #0000ee;
