// layout
$header-width: 1400px;
$header-height: 64px;
$main-width: 1260px;

// theme color
$groo-green: #007664;
$groo-beige: #f2ece3;
$groo-white: #eeeeee;

// font color
$font-black-1: #111111;

// black and gray
$black-1: #111111;
$black-2: #222222;
$black-3: #333333;
$black-4: #444444;
$black-5: #555555;
$black-6: #666666;
$black-7: #777777;
$black-8: #888888;
$black-9: #999999;
$black-a: #aaaaaa;
$black-b: #bbbbbb;
$black-c: #cccccc;
$black-d: #dddddd;
$black-e: #eeeeee;

$red-1: #ee0000;
$blue-1: #0000ee;

// input tag
$input-bg: #fafafa;
$input-border: 1px solid #e5e5e5;
$input-border-radius: 8px;
$input-outline: none;
$input-focus-border: 1px solid #666666;
$input-label-gap: 8px;
