@use '@/styles/abstract/' as *;
@use '@/styles/layout/' as *;

@include login-layout();

.login {
  justify-content: center;

  h2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include font-NotoSerifKR();
    margin-bottom: 4rem;

    p:nth-child(1) {
      font-size: 2.8rem;
      font-weight: 800;
    }

    p:nth-child(2) {
      font-size: 2.2rem;
      font-weight: 600;
      color: $black-4;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .sub_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $font-black-7;

    a {
      font-size: 1.6rem;
      background-color: inherit;
      border: none;
      font-weight: 500;
      padding: 4px 6px;
      margin: 0 8px;
    }
  }
}
