@use '@/styles/abstract/' as *;

.container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
  height: $header-height;
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $header-width;

  .nav {
    display: flex;
    gap: 2.4rem;

    .logo {
      @include font-SeoulAlrim();
      font-size: 2.4rem;
      font-weight: 900;
      color: $groo-green;
      padding: 8px 10px;
    }

    .pages {
      display: flex;
      align-items: center;
      gap: 2rem;

      a {
        font-size: 2rem;
        font-weight: 500;
        padding: 8px 10px;
        color: $black-3;
      }
    }
  }

  .function {
    display: flex;
    align-items: center;
    gap: 60px;

    .search {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 350px;
      background: $input-bg;
      border: $input-border;
      border-radius: 20px;
      padding: 10px 16px;

      span {
        color: $black-6;
      }
    }

    .user {
      display: flex;
      gap: 12px;

      button {
        padding: 8px 10px;
        outline: none;
      }
    }
  }
}

.profile_title {
  font-size: 1.6rem;
  width: 400px;
  padding: 6px;
  line-height: normal;
}

.profile_description {
  font-size: 1.4rem;
  line-height: normal;
  width: 400px;
  padding: 4px 6px 24px 6px;
}
.profile_confirm {
  font-size: 1.4rem;
  padding: 16px;
  // width: 50px;
  // height: 40px;
}
