@use '@/styles/abstract/' as *;

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid $black-e;
  background-color: #fafafa;
}
