@use '@/styles/abstract/' as *;

.container {
  display: flex;
  justify-content: center;
  border-bottom: $devider-border;
  height: $header-height;
  margin-bottom: 24px;
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $header-width;
  padding: 0 20px;

  .nav {
    display: flex;
    gap: 2.4rem;

    .logo {
      @include font-SeoulAlrim();
      font-size: 2.4rem;
      font-weight: 900;
      color: $font-green;
      padding: 8px 10px;
    }

    .pages {
      display: flex;
      align-items: center;
      gap: 2rem;

      a {
        font-size: 2rem;
        font-weight: 500;
        padding: 8px 10px;
        color: $black-3;
      }
    }
  }

  .function {
    display: flex;
    align-items: center;
    gap: 60px;

    .search {
      display: flex;
      align-items: center;
      gap: $input-container-gap;
      width: 350px;
      height: 4.8rem;
      padding: 0 16px;
      background-color: $input-bg;
      border: $input-border;
      border-radius: 20px;
      outline: $input-outline;
      transition: $input-transition;

      div {
        flex-grow: 1;
      }
    }

    .user {
      display: flex;
      gap: 12px;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 38px;
        height: 38px;
        border: none;
        background: none;
        outline: none;
      }

      .user_avatar_button {
        border-radius: 50%;
        background-color: $input-bg;
        border: 1px solid $black-e;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.profile_title {
  font-size: 1.6rem;
  width: 400px;
  padding: 6px;
  line-height: normal;
}

.profile_description {
  font-size: 1.4rem;
  line-height: normal;
  width: 400px;
  padding: 4px 6px 24px 6px;
}
.profile_confirm {
  font-size: 1.4rem;
  padding: 16px;
  // width: 50px;
  // height: 40px;
}
