@use '@/styles/abstract/' as *;
@use '@/styles/layout/' as *;

@include login-page-layout();

.login {
  margin-top: 48px;

  h2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include font-NotoSerifKR();
    margin-bottom: 40px;

    p:nth-child(1) {
      font-size: $font-size-28;
      font-weight: 700;
    }

    p:nth-child(2) {
      font-size: $font-size-20;
      font-weight: 500;
      color: $font-black-4;
    }
  }

  form {
    @include login-form-tag();
  }

  .sub_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $font-black-7;

    a {
      font-size: 1.6rem;
      background-color: inherit;
      border: none;
      font-weight: 500;
      padding: 4px 6px;
      margin: 0 8px;
    }
  }
}
